$darkest-color: #0d0f36;
$dark-color: #425685;
$primary-color: #69d2cd;
$light-color: #b9f1d6;
$lightest-color: #f1f6ce;

$green-color: #2d572c;
$red-color: #8B0000;

$min-width-pc: 1024px;
$max-width-phone: 768px;
$min-width-phone: 640px;