@import "../../utils/styles/variables.module";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
  
  button {
    background-color: $darkest-color;
    color: $primary-color;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 3px;
  }

  button:hover {
    background-color: $dark-color;
  }
}
