@import "../../utils/styles/variables.module";

.card {
  padding: 20px;
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: $dark-color;
  position: relative;
  border-radius: 8px;
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
}

.card h3 {
  font-size: 1rem;
  color: $primary-color;
  text-align: center;
  z-index: 2;
}

.card p {
  font-size: 0.8rem;
  color: $primary-color;
  text-align: center;
  z-index: 2;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card:hover::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 140%;
  background-image: linear-gradient(
    180deg,
    $primary-color,
    $primary-color
  );
  animation: rotate 3s linear infinite;
}

.card::after {
  content: "";
  position: absolute;
  inset: 8px;
  background-color: $darkest-color;
  border-radius: inherit;
}

@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}