// Header.scss
@import "../../utils/styles/variables.module";

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: $darkest-color;
  border-bottom: 2px solid;
  margin-bottom: auto;
}

.titleContainer {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  margin-top: 10px;
  text-align: center;
}